/*setear mi css*/
body {
  box-sizing: border-box; /* para que no se modifique fuera de mi caja */
  color: #303030;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

/* clases reutilizables*/
.text-uppercase {
  text-transform: uppercase;
}

/* clases específicas*/

li a {
  color: inherit; /*hereda color del body */
  text-decoration: none;
}

li:hover {
  color: #db964a;
}


ul li {
  list-style: none;
  display: inline;
  margin: 5px;
}

.logo-header { /* se crea clase para logo header*/
  width: 200px;
}

.box-header { /*que afecta la sección de header*/
  display: inline-block;
}

header {
  position: relative;
}

nav {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);  /*para centrar en relacion al logo de laboratoria, a partir de su mitad, con el top 50% lo mandamos en la segunda mitad del nav, con el transform 50 lo subimos en relacion a Y con el signo menos*/
}

.logo-square {
  width: 100px;
}
/* auto es el tamaño automatico*/

section {
  text-align: center;
  margin-top: 30px;
}

div {
  display: inline-block;
  width: 33%;
  padding: 2px;
  box-sizing: border-box;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 40px;
  transition: 5s;
}


[class^="icon-"]:hover, [class*=" icon-"]:hover{
  color: #db964a;
}


footer {
  background-color: #303030;
  text-align: center;
  padding: 5px;
  color: #fff;
}

.btn {
  background-color: #db964a;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: inherit;
  color: #fff;
}

.btn:hover {
  background-color: #303030;
}
